

{% extends 'portfolio/main.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style type="text/css">
  #div_id_tags > div{
    max-height: 100px;
    overflow: scroll;
    border: 1px solid slategray;
    padding: 5px;
    border-radius: 5px;
  }
</style>
<div class="main-container">
  <h1>Create Post</h1>
<form action="" method="POST" enctype="multipart/form-data">

  {% csrf_token %}

  {{form.media}}

  {{form|crispy}}

  <button class="btn btn-primary" type="submit" value="Submit Post">Submit Post</button>

</form>
</div>

{% endblock %}